
<ion-content [fullscreen]="false">
  <h1><strong class="center">Create Your Account</strong></h1>
  <img src="../../../assets/signupApp.png" alt="worng path" width="100%" class="ion-text-center" class="ion-padding" style="background-size: contain;">
  <div class="ion-padding ion-margin animate__animated animate__fadeIn animate__delay-.5s">
    <form #createUser="ngForm">
      <ion-row class="ion-margin-top">
        <ion-col size="12" size-xl="3" size-lg="4" size-md="6" size-sm="6" size-xs="12">
          <ion-item fill="outline">
            <ion-label position="floating" color="dark">User Name</ion-label>
            <ion-input placeholder="Choose a unique User Name" name="eventName" id="eventName" [(ngModel)]="loginObject.username" required></ion-input>
          </ion-item>
        </ion-col>
  
        <ion-col size="12" size-xl="3" size-lg="4" size-md="6" size-sm="6" size-xs="12">
          <ion-item fill="outline">
            <ion-label position="floating" color="dark">First Name</ion-label>
            <ion-input placeholder="First Name" type="text" name="firstName" id="firstName" [(ngModel)]="loginObject.firstName" required></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-xl="3" size-lg="4" size-md="6" size-sm="6" size-xs="12">
          <ion-item fill="outline">
            <ion-label position="floating" color="dark">Last Name</ion-label>
            <ion-input placeholder="First Name" type="text" name="lasttName" id="lasttName" [(ngModel)]="loginObject.lasttName" required></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-xl="3" size-lg="4" size-md="6" size-sm="6" size-xs="12">
          <ion-item fill="outline">
            <ion-label position="floating" color="dark">Email Address</ion-label>
            <ion-input placeholder="Email Address" type="email" name="userEmail" id="userEmail" [(ngModel)]="loginObject.userEmail" required></ion-input>
          </ion-item>
        </ion-col>
  
        <ion-col size="12" size-xl="3" size-lg="4" size-md="6" size-sm="6" size-xs="12">
          <ion-item fill="outline">
            <ion-label position="floating" color="dark">Password</ion-label>
            <ion-input type="password" placeholder="Password" name="userPassword" [(ngModel)]="loginObject.userPassword" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
    <ion-button shape="round" fill="solid" expand="block" color="dark" (click)="SignUp();">Register</ion-button>
    <br>
  </div>
  <div class="footer">
      <p style="text-align: center;">Already have an account?, <a routerLink="/login">Login</a></p>
  </div>
</ion-content>
