<ion-header>
  <ion-toolbar color="light">
    <ion-title color="primary">Food Menu</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding *ngIf="responseData.length === 0">
  <div class="no-data-container">
    <ion-icon name="warning-outline" class="no-data-icon"></ion-icon>
    <p class="no-data-message">No data found</p>
  </div>
</ion-content> -->

<ion-content>
  <ion-searchbar type="text" animated="true" 
   placeholder="Search for events ... "></ion-searchbar>

<!-- food-card.component.html -->

<ion-card class="food-card">
  <ion-img src="../../../assets/drinks.png" class="card-image"></ion-img>
  <ion-card-content class="card-content">
    <ion-card-title>
      Drinks
      <ion-badge class="rating-badge">4.2 <ion-icon name="star-half-outline"></ion-icon></ion-badge>
    </ion-card-title>
    <ion-card-subtitle>A variety of soft and hard drinks</ion-card-subtitle>
    <h2 class="price">{{ 45 | currency: 'USD' }}</h2>
  </ion-card-content>
</ion-card>

<ion-card class="food-card">
  <ion-img src="../../../assets/salads.png" class="card-image"></ion-img>
  <ion-card-content class="card-content">
    <ion-card-title>
      Salads
      <ion-badge class="rating-badge">3.5 <ion-icon name="star-half-outline"></ion-icon></ion-badge>
    </ion-card-title>
    <ion-card-subtitle>Fresh and healthy salads</ion-card-subtitle>
    <h2 class="price">{{ 15 | currency: 'USD' }}</h2>
  </ion-card-content>
</ion-card>

<ion-card class="food-card">
  <ion-img src="../../../assets/desserts.png" class="card-image"></ion-img>
  <ion-card-content class="card-content">
    <ion-card-title>
      Desserts
      <ion-badge class="rating-badge">4.5 <ion-icon name="star-half-outline"></ion-icon></ion-badge>
    </ion-card-title>
    <ion-card-subtitle>Sweet treats for after your meal</ion-card-subtitle>
    <h2 class="price">{{ 17 | currency: 'USD' }}</h2>
  </ion-card-content>
</ion-card>

<ion-card class="food-card">
  <ion-img src="../../../assets/beverages.png" class="card-image"></ion-img>
  <ion-card-content class="card-content">
    <ion-card-title>
      Beverages
      <ion-badge class="rating-badge">4.5 <ion-icon name="star-half-outline"></ion-icon></ion-badge>
    </ion-card-title>
    <ion-card-subtitle>Quench your thirst with our selection of drinks</ion-card-subtitle>
    <h2 class="price">{{ 14 | currency: 'USD' }}</h2>
  </ion-card-content>
</ion-card>

<ion-card class="food-card">
  <ion-img src="../../../assets/soups.png" class="card-image"></ion-img>
  <ion-card-content class="card-content">
    <ion-card-title>
      Soups
      <ion-badge class="rating-badge">4.5 <ion-icon name="star-half-outline"></ion-icon></ion-badge>
    </ion-card-title>
    <ion-card-subtitle>Warm and comforting bowls of homemade soups</ion-card-subtitle>
    <h2 class="price">{{ 4 | currency: 'USD' }}</h2>
  </ion-card-content>
</ion-card>

<ion-card class="food-card">
  <ion-img src="../../../assets/main_courses.png" class="card-image"></ion-img>
  <ion-card-content class="card-content">
    <ion-card-title>
      Main Courses
      <ion-badge class="rating-badge">4.7 <ion-icon name="star-half-outline"></ion-icon></ion-badge>
    </ion-card-title>
    <ion-card-subtitle>A variety of international dishes to satisfy your hunger</ion-card-subtitle>
    <h2 class="price">{{ 24 | currency: 'USD' }}</h2>
  </ion-card-content>
</ion-card>

<ion-card class="food-card">
  <ion-img src="../../../assets/kids_menu.png" class="card-image"></ion-img>
  <ion-card-content class="card-content">
    <ion-card-title>
      Kids Menu
      <ion-badge class="rating-badge">3.8 <ion-icon name="star-half-outline"></ion-icon></ion-badge>
    </ion-card-title>
    <ion-card-subtitle>Fun and tasty meals perfect for our younger guests</ion-card-subtitle>
    <h2 class="price">{{ 19 | currency: 'USD' }}</h2>
  </ion-card-content>
</ion-card>

<ion-card class="food-card">
  <ion-img src="../../../assets/sides.png" class="card-image"></ion-img>
  <ion-card-content class="card-content">
    <ion-card-title>
      Sides
      <ion-badge class="rating-badge">4.7 <ion-icon name="star-half-outline"></ion-icon></ion-badge>
    </ion-card-title>
    <ion-card-subtitle>The perfect accompaniments to enhance your meal</ion-card-subtitle>
    <h2 class="price">{{ 11 | currency: 'USD' }}</h2>
  </ion-card-content>
</ion-card>



</ion-content>