.image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
h3{
  position: absolute;
  bottom: 16rem;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
ion-button{
  position: absolute;
  bottom: 13rem;
}
